/*@@author Joelle */
.TextArea {
	-fx-background-color: #003380;
}

.background {
    -fx-background-color: #ac7339;
}

.body{
  background-image: url(/resources/images/tile.jpg);
  background-repeat:repeat;
}